<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Webpack Boilerplate</title>
</head>

<body>
  <header>
    <div class="title">
      <h1>WEBPACK BOILERPLATE</h1>
    </div>
  </header>
  <main>
    <div class="content">
      <div class="first-card-group card-group">
        <div class="card first">
          <span>Sass</span>
        </div>
        <div class="card second">
          <span>HTML</span>
        </div>
        <div class="card third">
          <span>JavaScript</span>
        </div>
      </div>
      <div class="card-group second-card-group">
        <div class="card first">
          <span>Sass</span>
        </div>
        <div class="card second">
          <span>HTML</span>
        </div>
        <div class="card third">
          <span>JavaScript</span>
        </div>
      </div>
      <div class="card-group third-card-group">
        <div class="card first">
          <span>Sass</span>
        </div>
        <div class="card second">
          <span>HTML</span>
        </div>
        <div class="card third">
          <span>JavaScript</span>
        </div>
      </div>
    </div>
  </main>
</body>

</html>